<%- include("partials/headerNoNav") %>

	<a href="/">
		<img src="/img/logo.png" alt="Brand Image">
	</a>
	<div class="container">
		<h1 id="label">Cookies of 2020:</h1>
		<div class="row mt-2">
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_A.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_B.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_C.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_D.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_E.jpg' alt='cookies'>
			</div>
		</div>
	</div>

<%- include("partials/footer") %>