<%- include("partials/headerNoNav") %>

	<a href="/">
		<img src="/img/logo.png" alt="Brand Image">
	</a>
	<div class="container">
		<h1 id="label">Cookies of 2020:</h1>
		<div class="row mt-2">
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_A.jpg' alt='22 mint chocolate cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_B.jpg' alt='17 m&m cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_C.jpg' alt='59 chocolate chip cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_D.jpg' alt='24 chocolate chip cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_E.jpg' alt='26 chocolate chip cookies and 10 mixed chocolates cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_F.jpg' alt='29 "Spritz" cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_G.jpg' alt='33 "Spritz" cookies'>
			</div>
		</div>
	</div>

<%- include("partials/footer") %>