<%- include("partials/headerNoNav") %>

	<h1>Cookies of 2020:</h1>
	<div class="container">
		<div class="row mt-2">
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_A.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_B.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_C.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_D.jpg' alt='cookies'>
			</div>
			<div class="box m-3">
				<img class="box-img" src='/img/Cookies_E.jpg' alt='cookies'>
			</div>
		</div>
	</div>

<%- include("partials/footer") %>