<%- include("partials/headerNoNav") %>

		<div class="container">
			<div class="row mt-4">
				<div class="col-6">
					<h1 id="title">
						Blade<br>Compendium
					</h1>
				</div>
				<div class="col-6">
					<a href="/blades">
						<button id="BladeButton" class="btn btn-info btn-lg btn-block">Blades</button>
					</a>
					<a href="/cookies">
						<button id="CookieButton" class="btn btn-success btn-lg btn-block">X-mas Cookies!</button>
					</a>
				</div>
			</div>
		</div>

<%- include("partials/footer") %>